body{
  padding: 32px;
  font-family: sans-serif;
  color: #333;
  background-color: #f4f4f4;
  background-image: url("./img/parede.avif");
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 24px 32px;
  border-radius: 10px;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 10px;
}

p{
  margin: 10px 0;
}

input{
  box-sizing: border-box;
}